Remove default User-Agent header

See discussion in #604.

As resty is a generic HTTP client library, I think we should not advertise a User-Agent header.  Leave that up to the end user as an implementation detail.

I doubt this would break many user implementations, but we would need to highlight this as a potential breaking change in the release notes.

Thoughts?

First, to address the concern of the OP on #604: One could implement a crawler bot using curl (`user-agent: curl/7.81.0`) or with the native Go http client (`user-agent: Go-http-client/1.1`). That's the correct comparison here, not [Seekport](https://bot.seekport.com).

To conform with [section 10.1.5 of RFC-9110](https://www.rfc-editor.org/rfc/rfc9110#section-10.1.5), resty SHOULD provide a user-agent header (`"A user agent SHOULD send a User-Agent field in each request unless specifically configured not to do so"`), so I suggest not removing the default header. I would say this header should conform to the RFC better, by removing the repo address (`"A sender SHOULD limit generated product identifiers to what is necessary to identify the product; a sender MUST NOT generate advertising or other nonessential information within the product identifier"`.

About breaking user-implementations: If the go-resty/version part remains the same (which I think it should) I don't think that there's an issue here. Users that rely on the full string will have issues anyway with a version change, and the URL is considered a comment, which should not be relied on. Moreover, Go itself has changed their user-agent default header _twice_ after the go1 backwards compatibility promise ([here](https://go.googlesource.com/go/+/48c1db4003a3d002b8eada06b8b4c451b7d8d40f%5E!/) and [here](https://go.googlesource.com/go/+/0d1ceef9452c495b6f6d60e578886689184e5e4b%5E!/)).

Thanks @moorereason for help and assisting @modernjess.

Thanks @segevda for sharing RFC spec details and candid references.

----

@modernjess thanks for reaching out. I have read the above details as well as discussion page.
I will try to provide an insights. Resty is HTTP client library for Go language. It implements the RFC spec for user agent header and also provides a way for Resty user to override, typical industry best practices implementation. It is up to the user to decide what to do. So as a HTTP client library, default user agent header will continue to be present.

You're the right person to decide whether particular set of requests are allowed on the server or not from your user/consumers.
