Add ability to change the token type in SetAuthToken()

Working with an API that uses an authorization header with the `OAuth <token>` sytax and thought it would be useful to be able to specify an alternative to "Bearer" when using the helper function. Not a big deal since it can be done manually using SetHeader() but figured I'd throw out the suggestion anyways!

I'll propose a `SetAuthScheme` method.  I would likely need to precede the `SetAuthToken` call.

```golang
client.R().
  SetAuthScheme("OAuth").
  SetAuthToken("XXX").
  Get("/")
```

But is it worth adding to the API?  How prevalent are these alternative Authorization schemes?

I like that design, simple and consice.

As far as how prevalent it is, I'd say it's likely enough to come up to warrant facilitating it(Personally have used both Bearer and OAuth in the past and am currently working with the statuspage.io API which uses the OAuth schem). 

The Authorization header does have [RFC-7235](https://tools.ietf.org/html/rfc7235) and an accompanying registry that defines the namespaces for these and a few other schemes which can be found [here](https://www.iana.org/assignments/http-authschemes/http-authschemes.xhtml#authschemes). The currently defined schemes are:
```
Basic          [RFC7617]
Bearer         [RFC6750]
Digest         [RFC7616]
HOBA           [RFC7486-Section-3]
Mutual         [RFC8120]
Negotiate      [RFC4559-Section-3]
OAuth          [RFC5849-Section-3.5.1]
SCRAM-SHA-1    [RFC7804]
SCRAM-SHA-256  [RFC7804]
vapid          [RFC8292-Section-3]
```

Out of that list, I have personally made use of Basic, Bearer, OAuth and Digest in the past with Bearer and OAuth being the most frequently encountered.

It'd probably be a safe bet to assume the `Bearer` scheme by default when `SetAuthScheme` isn't explicitely set as it's probably the most prevelant out there and that would also maintain backwards compatibility as well.

@rigrassm Actually, once you could add RFC & IANA reference links into godoc then I will merge your PR. Take your time 😄 

@rigrassm PR #307 has been merged.